{% extends './base.html'%}
{% load static %}

{% block links%}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        referrerpolicy="no-referrer" />
<link rel="stylesheet" href={% static 'css/signin.css' %}>
{% endblock%}
    
{% block title%} Attendance | Login {% endblock %}

    {% block content %}
    <div class="container">
        <h1>Please Login</h1>
        <form method="post" autocomplete="off">
            {% csrf_token %}
            <div class="form-control">
                {{form.username}}
                <label>Username</label>

            </div>
            <div class="form-control">
                {{form.password}}
                <label>Password</label>

            </div>
            <input type="submit" value="submit" class="btn">
            <p class="text">Login as a<a href="#"> Student</a> </p>
        </form>
    </div>
    {%  endblock %}
    {% block footer%}
    <script src={% static "js/signin.js" %}></script>
    {% endblock %}
